@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

:root {
  --clr-text-primary-dark : #392020;
  --clr-text-primary-light: #BDBDBD;

  --clr-accent: #02A2FD;

  --clr-lines: #BDBDBD;

  --ff-primary: 'Open Sans';
  --ff-accent : 'Poppins';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

body {
  color      : var(--clr-text-primary-dark);
  font-family: var(--ff-primary), sans-serif;
  font-weight: 400;
  font-size  : 1.625rem;
  line-height: 2.375rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-accent), sans-serif;
  font-weight: 600;
}

button {
  font-family: var(--ff-primary), sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-text-primary-dark);
  font-weight: 600;
}

.container {
  margin: auto;
  width : min(90%, 1200px);
}

.text-primary-light {
  color: var(--clr-text-primary-light);
}

.anim {
  opacity: 0;
}

.hide-mobile {
  @media (max-width: 860px) {
    display: none;
  }
}

@keyframes anim1 {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerReveal {
  from {
    opacity: 0;
  }
  to  {
    opacity: 1;
  }
}