@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

$px        : 7rem;
$px-mobile : 4rem;

:root {
  --clr-text-primary-dark : #392020;
  --clr-text-primary-light: #BDBDBD;

  --clr-accent: #02A2FD;

  --clr-lines: #BDBDBD;

  --ff-primary: 'Open Sans';
  --ff-accent : 'Poppins';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

body {
  color      : var(--clr-text-primary-dark);
  font-family: var(--ff-primary), sans-serif;
  font-weight: 400;
  font-size  : 1.625rem;
  line-height: 2.375rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-accent), sans-serif;
  font-weight: 600;
}

h1,
h2 {
  font-size: 7.5rem;
  line-height: 11.25rem;
}
h2 {
  line-height: 10rem;
}
.mt-4 {
  margin-top: 2rem;
}
@media (max-width: 860px) {
  h1,
  h2 {
    font-size: 2.6rem;
    line-height: 3.75rem;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  p {
    font-size: 1.625rem !important;
    line-height: 2.5rem !important;
  }
}

button {
  font-family: var(--ff-primary), sans-serif;
}

a {
  text-decoration: none;
  color          : var(--clr-text-primary-dark);
  font-weight    : 600;
}

.container {
  margin: auto;
  width : min(90%, 1200px);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text-primary-light {
  color: var(--clr-text-primary-light);
}

.anim {
  opacity: 0;
}

.hide-mobile {
  @media (max-width: 860px) {
    display: none;
  }
}

.arrow-link {
  display    : flex;
  align-items: center;
  max-width  : 18rem;
  margin-top : 1.5rem;

  img {
    margin-top : 6px;
    margin-left: 2rem;
    transition : all 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    img {
      transform: translateX(-1rem);
    }
  }
}

.px-l {
  padding: $px 0;

  @media (max-width: 860px) {
    padding: $px-mobile 0;
  }
}

.pt-xl {
  padding-top: calc(#{$px} * 2);

  @media (max-width: 860px) {
    padding-top: calc(#{$px-mobile} * 2);
  }
}

.pb-xl {
  padding-bottom: calc(#{$px} * 2);

  @media (max-width: 860px) {
    padding-bottom: calc(#{$px-mobile} * 2);
  }
}

.mb-title {
  @media (max-width: 860px) {
    margin-bottom: 2.5rem;
  }
}

@keyframes anim1 {
  from {
    // transform: translateY(100px);
    opacity  : 0;
  }

  to {
    // transform: translateY(0);
    opacity  : 1;
  }
}

@keyframes headerReveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lines {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  @media (max-width: 860px) {
    display: none;
  }
  hr {
    border: 0.5px solid #828282;
    opacity: 0.1;
  }
}

.border-btn {
  margin: auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 44.68rem;
  padding: 1.8rem 3rem;
  color: var(--clr-text-primary-dark);
  border: 1px solid #333333;
  text-decoration: none;
  transition: 100ms all ease-in;
  img {
    margin-left: 1.5rem;
  }
  @media (min-width: 860px) {
    font-size: 2.3rem;
  }
  @media (max-width: 860px) {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    background-color: var(--clr-text-primary-dark);
    color: #fff;
    img {
      display: none;
    }
  }
}